@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>
    This is a coursework project by Centennial College Students for course COMP231 - Software Development Project 1
</p>
<p>
    Students:<br />
    &nbsp; &nbsp; Ederson Cardoso (301033332)<br />
    &nbsp; &nbsp; Marina Correa Scavone Martins (301028454)<br />
    &nbsp; &nbsp; Rafael Aguiar (301041266)<br />
    &nbsp; &nbsp; Thales Costa (301035028)<br />
    &nbsp; &nbsp; Tiago Franco Finotti (301041366)<br />
</p>
