@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    Centennial College - Progress Campus<br />
    941 Progress Avenue, Scarborough<br />
    <abbr title="Phone">P:</abbr>
    416-289-5000
</address>

<address>
    <strong>Support:</strong> <a href="mailto:onduty@onduty.ca">OnDuty@OnDuty.ca</a><br />
    <strong>Marketing:</strong> <a href="mailto:onduty@onduty.ca">OnDuty@OnDuty.ca</a>
</address>
